@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow:0px 8px 6px -6px gray;
  border-bottom:  solid gray !important; 
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 1px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}


/* FOOTER */
.footer{
  color: white;
  padding: 25px;
  background: #202123;
  
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* Page Not Found CSS */
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  padding: 5px;
  border: 1px solid black;
}

.contactus{
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;
}

/* Products Page*/
.product-link{
  text-decoration: none !important;
  color: black !important;
}



/* Login Page */
.wireframe {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wireframe .overlap-group-wrapper {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  width: 1536px;
}

.wireframe .overlap-group {
  height: 1275px;
  left: -168px;
  position: relative;
  top: -112px;
  width: 1704px;
}

.wireframe .rectangle {
  background-color: #d9d9d9;
  box-shadow: -23px -28px 12px 34px #00000040;
  height: 1024px;
  left: 124px;
  position: absolute;
  top: 112px;
  width: 851px;
}

.wireframe .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 366px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1011px;
  white-space: nowrap;
}

.wireframe .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 447px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1013px;
  white-space: nowrap;
}

.wireframe .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 533px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1014px;
  white-space: nowrap;
}

.wireframe .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 656px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1015px;
  white-space: nowrap;
}

.wireframe .ellipse {
  background: linear-gradient(
    180deg,
    rgb(9, 139, 157) 0%,
    rgba(9, 139, 157, 0.52) 72.94%,
    rgba(77.56, 40.72, 40.72, 0) 100%
  );
  border-radius: 168px/173px;
  box-shadow: 6px 4px 10px #00000040;
  height: 346px;
  left: 0;
  position: absolute;
  top: 578px;
  width: 336px;
}

.wireframe .ellipse-2 {
  background: linear-gradient(
    180deg,
    rgb(9, 139, 157) 0%,
    rgba(9, 139, 157, 0.52) 72.94%,
    rgba(77.56, 40.72, 40.72, 0) 100%
  );
  border-radius: 37.5px/38px;
  box-shadow: 6px 4px 10px #00000040;
  height: 76px;
  left: 811px;
  position: absolute;
  top: 1012px;
  width: 75px;
}

.wireframe .ellipse-3 {
  background: linear-gradient(
    180deg,
    rgb(20, 26, 114) 23.42%,
    rgba(20, 26, 114, 0.58) 55.73%,
    rgba(20, 26, 114, 0) 100%
  );
  border-radius: 124.5px/131.5px;
  box-shadow: 4px 4px 10px #00000040;
  height: 263px;
  left: 811px;
  position: absolute;
  top: 56px;
  width: 249px;
}

.wireframe .text-wrapper-4 {
  -webkit-text-stroke: 1px #030339a8;
  color: #030339e3;
  font-family: "Inter-Black", Helvetica;
  font-size: 40px;
  font-weight: 900;
  left: 453px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 622px;
  white-space: nowrap;
}

.wireframe .ellipse-4 {
  background-color: #fea7b0;
  border-radius: 123px/121px;
  box-shadow: 5px 4px 9px #00000040;
  height: 242px;
  left: 610px;
  position: absolute;
  top: 0;
  width: 246px;
}

.wireframe .rectangle-2 {
  background-color: #04053e;
  border-radius: 21px;
  height: 130px;
  left: 514px;
  position: absolute;
  top: 415px;
  transform: rotate(45.51deg);
  width: 34px;
}

.wireframe .rectangle-3 {
  background-color: #04053e;
  border-radius: 21px;
  height: 130px;
  left: 550px;
  position: absolute;
  top: 450px;
  transform: rotate(45.51deg);
  width: 34px;
}

.wireframe .rectangle-4 {
  background-color: #04053e;
  border-radius: 21px;
  height: 70px;
  left: 567px;
  position: absolute;
  top: 536px;
  transform: rotate(45.51deg);
  width: 34px;
}

.wireframe .rectangle-5 {
  background-color: #0ec0ae;
  border-radius: 21px;
  height: 41px;
  left: 617px;
  position: absolute;
  top: 503px;
  transform: rotate(45.51deg);
  width: 34px;
}

.wireframe .ellipse-5 {
  background-color: #fea7b0;
  border-radius: 123px/121px;
  box-shadow: 6px 4px 12px #00000040;
  height: 242px;
  left: 792px;
  position: absolute;
  top: 1033px;
  width: 246px;
}

.wireframe .rectangle-6 {
  background-color: #fffdfd;
  height: 1024px;
  left: 975px;
  position: absolute;
  top: 112px;
  width: 729px;
}

.wireframe .text-wrapper-5 {
  color: #030339e3;
  font-family: "Inter-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 1123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 373px;
}

.wireframe .line {
  height: 6px;
  left: 1131px;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 363px;
}

.wireframe .text-wrapper-6 {
  color: #6f6262;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 511px;
  white-space: nowrap;
}

.wireframe .img {
  height: 6px;
  left: 1131px;
  object-fit: cover;
  position: absolute;
  top: 637px;
  width: 363px;
}

.wireframe .text-wrapper-7 {
  color: #6f6262;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 604px;
  white-space: nowrap;
}

.wireframe .text-wrapper-8 {
  color: #6f6262;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1162px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 682px;
  white-space: nowrap;
}

.wireframe .text-wrapper-9 {
  color: #6f6262;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 866px;
  white-space: nowrap;
}

.wireframe .rectangle-7 {
  background-color: #2093a3;
  border-radius: 39px;
  box-shadow: 3px 4px 21px 3px #00000040;
  height: 67px;
  left: 1124px;
  position: absolute;
  top: 753px;
  width: 387px;
}

.wireframe .text-wrapper-10 {
  color: #030339e3;
  font-family: "Inter-Black", Helvetica;
  font-size: 32px;
  font-weight: 900;
  left: 1263px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 766px;
}

.wireframe .text-wrapper-11 {
  color: #030339e3;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 861px;
  white-space: nowrap;
}
